<%include partials/header%>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Restaurants!</h1>
            <p>View restaurants from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/restaurants/new">Add New Restaurants</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap:wrap;">
        <% restaurants.forEach(function(restaurants){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%=restaurants.image%>">
                <div class="caption">
                    <h4><%= restaurants.name %></h4>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>


<%include partials/footer%>